snippet row
	<div class="row">
		${1}
	</div>
snippet lgcol
	<div class="large-${1} columns">
		${2}
	</div>
snippet smcol
	<div class="small-${1} columns">
		${2}
	</div>
snippet ul
	<ul>
		${1}
	</ul>
snippet li
	<li>
		${1}
	</li>
snippet ulc
	<ul class="${1}">
		${2}
	</ul>
snippet lic
	<li class="${1}">
		${2}
	</li>
snippet a
	<a href="${1}">${2}</a>
snippet ac
	<a class="${1}" href="${2}">${3}</a>
snippet linkTo
	{{#linkTo "${1}" ${2}}}
		${3}
	{{/linkTo}}
